@import "tailwindcss";


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body{
    font-family: 'Poppins', sans-serif;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
}
input[type='color'] {
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}